[Unit]
Description=GTHAU Hub Demo Service
After=network.target

[Service]
User=root_gth
WorkingDirectory=/home/root_gth/THAU_hub
Environment="PATH=/home/root_gth/.local/bin:/usr/local/bin:/usr/bin"
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target