[Unit]
Description=GTHAU Hub Demo Service
After=network.target

[Service]
User=root_gth
WorkingDirectory=/home/root_gth/THAU_hub
ExecStart=/home/root_gth/THAU_hub/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target